# Python Marathons Project: Webscraping & Analysis

## This is Part I: I'm going to scrape the marathon data of the past four years and save it to a CSV. Part 2 will include all analysis.

In [1]:
#Importing Packages

import requests
from bs4 import BeautifulSoup
import pandas as pd
from IPython.core.display import HTML, display
from urllib.request import Request, urlopen

In [2]:
#creating empty objects for URLs
urlbase_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='

In [3]:
# creating variables for pagination values


#For indexing purposes, the range inquiry needs to be 1 higher than the actual value. 
#So these variables are (actual page count + 1)
pages_2016 = 154 + 1
pages_2017 = 147 + 1
pages_2018 = 85 + 1
pages_2019 = 113 + 1
pgs_half_2016 = 898 + 1
pgs_half_2017 = 892 + 1
pgs_half_2018 = 598 + 1
pgs_half_2019 = 690 + 1

In [4]:
#Full Marathon Empty DFs

marathon2016_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])
marathon2017_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])
marathon2018_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])
marathon2019_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])

In [5]:
#Half Marathon Empty DFs

half2016_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])
half2017_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])
half2018_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])
half2019_df = pd.DataFrame(columns = ['Overall', 'Bib', 'Name', 'Time'])

In [6]:
def marathon_scraper(urlbase, pag_value, df):
    for i in range (1, pag_value):
        url = urlbase + str(i)
        result = requests.post(url)
        soup = BeautifulSoup(result.text, 'lxml')
        tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
        results_list = pd.read_html(str(tables[0]))
        pre_df = pd.DataFrame(results_list[0])
        df = pd.concat([df, pre_df], axis=0)
    return df

In [7]:
marathon2019_df = marathon_scraper(urlbase_2019, pages_2019, marathon2019_df)

In [8]:
marathon2019_df.to_csv('data/full_2019.csv', index = False)

In [9]:
marathon2018_df = marathon_scraper(urlbase_2018, pages_2018, marathon2018_df)

In [10]:
marathon2018_df.to_csv('data/full_2018.csv', index = False)

In [11]:
# ok I'm gonna try the first for-loop to see what happens. 
# before adding the concat portion: this gets us a list, but does not append
# after adding concat function: if axis=1, we get a weird dataframe with a ton of columns. 
# I think we're ok with axis=0 - I'll check in with help

#Full 2016

for i in range (1, pages_2016):
    url = urlbase_2016 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    marathon2016_df = pd.concat([marathon2016_df, df], axis=0)

In [12]:
marathon2019_df.head()

  Overall    Bib            Name      Time
0       1  30001  Travis Peruski  01:37:54
1       2      1  Scott Wietecha  02:34:59
2       3      4   Jordan Wilson  02:35:24
3       4  30034  Steelton Flynn  02:39:59
4       5  30035    Thomas Ellis  02:42:09

In [13]:
marathon2016_df.to_csv('data/full_2016.csv', index = False)

In [14]:
%who

BeautifulSoup	 HTML	 Request	 df	 display	 half2016_df	 half2017_df	 half2018_df	 half2019_df
i	 marathon2016_df	 marathon2017_df	 marathon2018_df	 marathon2019_df	 marathon_scraper	 pages_2016	 pages_2017	 pages_2018
pages_2019	 pd	 pgs_half_2016	 pgs_half_2017	 pgs_half_2018	 pgs_half_2019	 requests	 result	 results_list
soup	 tables	 url	 urlbase_2016	 urlbase_2017	 urlbase_2018	 urlbase_2019	 urlbase_half_2016	 urlbase_half_2017
urlbase_half_2018	 urlbase_half_2019	 urlopen

# Markdown: I'm just gonna spam this seven more times to get dataframes. Eventually I should work on a function, but let's make sure things pull ok.

In [15]:
#Full 2017

for i in range (1, pages_2017):
    url = urlbase_2017 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    marathon2017_df = pd.concat([marathon2017_df, df], axis=0)

In [16]:
marathon2017_df.to_csv('data/full_2017.csv', index = False)

In [17]:
#Full 2018 
for i in range (1, pages_2018):
    url = urlbase_2018 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    marathon2018_df = pd.concat([marathon2018_df, df], axis=0)

In [18]:
marathon2018_df.to_csv('data/full_2018.csv', index = False)

In [19]:
#Full 2019 
for i in range (1, pages_2019):
    url = urlbase_2019 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    marathon2019_df = pd.concat([marathon2019_df, df], axis=0)

In [20]:
marathon2019_df.to_csv('data/full_2019.csv', index = False)

In [21]:
#Half 2016 
for i in range (1, pgs_half_2016):
    url = urlbase_half_2016 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    half2016_df = pd.concat([half2016_df, df], axis=0)

In [22]:
half2016_df.to_csv('data/half_2016.csv', index = False)

In [23]:
#Half 2017 
for i in range (1, pgs_half_2017):
    url = urlbase_half_2017 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    half2017_df = pd.concat([half2017_df, df], axis=0)

In [24]:
half2017_df.to_csv('data/half_2017.csv', index = False)

In [25]:
#Half 2018 
for i in range (1, pgs_half_2018):
    url = urlbase_half_2018 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    half2018_df = pd.concat([half2018_df, df], axis=0)

In [26]:
half2018_df.to_csv('data/half_2018.csv', index = False)

In [27]:
half2018_df.tail()

   Overall    Bib                  Name      Time
10   14935   8337       Kayleah Maddock  06:04:28
11   14937  32614         Kim Donaldson  06:05:35
12   14938  31720  Pamela Samuel Hagens  06:12:15
13   14939  33664           Fatima Rego  06:12:24
14   14940  33532           Annie Friar  06:26:37

In [28]:
#Half 2019 
for i in range (1, pgs_half_2019):
    url = urlbase_half_2019 + str(i)
    result = requests.post(url)
    soup = BeautifulSoup(result.text, 'lxml')
    tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})
    results_list = pd.read_html(str(tables[0]))
    df = pd.DataFrame(results_list[0])
    half2019_df = pd.concat([half2019_df, df], axis=0)

In [29]:
half2019_df.to_csv('data/half_2019.csv', index = False)

In [30]:
half2019_df.head()

  Overall   Bib           Name      Time
0       1    31    Nick French  01:10:03
1       2    33   Ian Bordelon  01:12:15
2       3    32  Chris Demetra  01:12:52
3       4  1025   Grayson Reid  01:15:10
4       5    34   Jason Vincze  01:17:01

# This is the end of this notebook. Everything is functional, and I'm going to do my analysis in the other notebook.